/* Estilos para o botão */
.meu-botao {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  /* Estilos para o efeito de hover */
  .meu-botao:hover {
    background-color: #45a049;
  }

  .paragrafo {
    color: #333333;
    padding: 10px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #f2f2f2;
    display: inline;  
  }

  .imagens {
    vertical-align: middle;
    margin: 10px;
    border: 2px solid #3e3d3d;
    border-radius: 5px;
  }

  .mensagem {
    background-color: #f2f2f2;
    color: #333;
    padding: 10px;
    border-radius: 5px;
  }

  